.DS_Store
.env
.idea/
.vscode
dist.zip
dist/
node_modules/
npm-debug.log*
puppeteer*
selenium-debug.log
target/
temp/
test/e2e/reports
test/unit/Headless*
test/unit/HeadlessChrome*
test/unit/PhantomJS*
test/unit/PhantomJS*
test/unit/coverage
yarn-debug.log*
yarn-error.log*
yarn.lock